
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f12d2d;
        margin: 0;
        padding: 0;
    }
    h2 {
        color: #333;
        text-align: center;
        margin-top: 30px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    form {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 500px;
        
    }
    input {
        width: calc(100% - 22px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button {
        background-color: #f12d2d;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: calc(100% - 22px);
        margin-left: 10px;
    }
    button:hover {
        background-color: #adcd90;
    }
    .error {
        color: red;
        margin-bottom: 10px;
        text-align: center;
    }
    .success {
        color: green;
        margin-bottom: 10px;
        text-align: center;
    }
    .register-link {
        text-align: center;
        margin-top: 10px;
    }
    .login-image
    {
       max-width: 20%;
       height: auto;
       margin-left: 200px;
    }
  